
{% extends '@Events/default/index.html.twig' %}


{% block body %}


    {{ form_start(reservationform) }}
    {% form_theme reservationform '@Events/bootstrap_3_layout.html.twig' %}
    {{ form_widget(reservationform) }}


    <button type="submit" class="btn btn-success" value="Create">
        <i class="fa fa-check" aria-hidden="true"></i> Confirmer
    </button>
    {{ form_end(reservationform) }}



{% endblock %}